<ion-card>
  <ion-card-header>
    <ion-row class="align">
      <ion-col>
        <ion-card-title>
          <ion-text color="tertiary">Bulk Claim - {{ claim_no }} </ion-text>
        </ion-card-title>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button
          color="tertiary"
          [disabled]="!dataSource.length"
          fill="outline"
          [routerLink]="['/warranty/warranty-claim', 'edit', uuid]"
        >
          Edit
        </ion-button>
        <ion-button
          color="tertiary"
          [disabled]="!dataSource.length"
          (click)="openDialog()"
        >
          Print
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content>
    <div class="example-container mat-elevation-z8">
      <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="sr_no">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header="claim_no">
            Claim no
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a
              *ngIf="row.set === 'Bulk'"
              [routerLink]="['/bulk-warranty-claim', row.uuid]"
              >{{ row.claim_no || 'Draft' }}</a
            >
            <a
              *ngIf="row.set === 'Single' || row.set === 'Part'"
              [routerLink]="['/warranty/view-warranty-claims', row.uuid]"
              >{{ row.claim_no || 'Draft' }}</a
            >
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header="claim_type">
            Claim Type
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.claim_type }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="received_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header="received_date">
            Received Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.received_on }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="customer_name">
          <mat-header-cell *matHeaderCellDef> Customer name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.customer }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="third_party_name">
          <mat-header-cell *matHeaderCellDef>
            Third Party Customer Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.third_party_name }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="item_code">
          <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.item_code }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claimed_serial">
          <mat-header-cell *matHeaderCellDef> Claimed Serial </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.serial_no }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="product_brand">
          <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.product_brand }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="problem">
          <mat-header-cell *matHeaderCellDef> Problem </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.problem }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.remarks }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="claim_status">
          <mat-header-cell *matHeaderCellDef> Claim Status </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.claim_status }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="verdict">
          <mat-header-cell *matHeaderCellDef> Verdict </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{
              row.status_history
                ? row.status_history[row.status_history.length - 1].verdict
                : ''
            }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="billed_amount">
          <mat-header-cell *matHeaderCellDef> Billed Amount </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.billed_amount }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="receiving_branch">
          <mat-header-cell *matHeaderCellDef>
            Receiving Branch
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.receiving_branch }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_branch">
          <mat-header-cell *matHeaderCellDef> Delivery Branch </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.delivery_branch }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="received_by">
          <mat-header-cell *matHeaderCellDef> Received By </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.received_by }} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="replace_serial">
          <mat-header-cell *matHeaderCellDef> Replaced Serial </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.replace_serial }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delivered_by">
          <mat-header-cell *matHeaderCellDef> Delivered by </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.delivered_by }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="delivery_date">
          <mat-header-cell *matHeaderCellDef> Delivery Date </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.delivery_date }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>

        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="{
            'background-color':
              row.claim_status === 'Cancelled'
                ? '#F8DEDE'
                : row.set === 'Bulk'
                ? '#F4F4FB'
                : row.set === 'Part'
                ? '#FDFAE5'
                : 'rgb(255, 255, 255)'
          }"
        ></mat-row>
        <mat-footer-row
          class="footer"
          *matFooterRowDef="displayedColumns; sticky: true"
        ></mat-footer-row>
      </table>
    </div>
    <mat-card-actions>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="dataSource.length"
        [pageSizeOptions]="[30, 50, 100, 500]"
      >
      </mat-paginator>
    </mat-card-actions>
  </ion-card-content>
</ion-card>
